.logo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 10px;
    font-size: 16px;
    border-bottom: 4px solid #000;
    padding-bottom: 5px;
}

.canvas-container {
    text-align: center;
}

.signature-canvas {
    border: 1px solid #ccc;
}

body {
    overflow-x: hidden;
}

/* Media query for screens up to 419px width */
@media (max-width: 419px) {

    /* Styles for both portrait and landscape orientations */
    #clearbutton {
        position: absolute;
        bottom: 5px;
        left: 305px;

    }

    /* Media query for portrait orientation within the max-width range */
    @media (orientation: portrait) {
        #clearbutton {
            left: 305px;
        }
    }

    /* Media query for landscape orientation within the max-width range */
    @media (orientation: landscape) {
        #clearbutton {
            left: 400px;
        }
    }
}





/* Media query for screens smaller than 768px and larger than 420px */
@media (min-width: 420px) and (max-width: 767px) {
    /* Styles for both portrait and landscape orientations */
    #clearbutton {
        position: absolute;
        bottom: 5px;
        left: 328px; /* Adjust the left position as needed */
    }

    .signature-canvas {
        width: 350px;
        height: 400px;
    }

    /* Media query for portrait orientation within the max-width range */
    @media (orientation: portrait) {
        #clearbutton {
            left: 328px; /* Adjust the left position as needed */
        }
    }

    /* Media query for landscape orientation within the max-width range */
    @media (orientation: landscape) {
        #clearbutton {
            left: 400px; /* Adjust the left position as needed */
        }

        .signature-canvas {
            width: 600px;
            height: 400px;
        }
    }
}




/* Media query for screens between 768px and 991px */
/* @media (min-width: 768px) and (max-width: 991px) {
    #clearbutton {
        position: absolute;
        bottom: 5;
        left: 473;
    }

} */

/* Media query for screens larger than 992px */
/* @media (min-width: 992px) {
    #clearbutton {
        position: absolute;
        bottom: 5;
        left: 328;
    }

} */